@charset "utf-8";

:root {
  --background-color: #1c1c1e;
  --text-font-color: rgb(255, 255, 255);
  --transition: all .15s ease-in-out;
  --transparancy: rgba(255, 255, 255, 0.05);
}

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

* {
  margin: 0px;
}

main {
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.s-b {
  display: flex;
  justify-content: space-around;
}

body {
  background-color: var(--background-color);
  font-family: Arial, Helvetica, sans-serif;
}

.flex {
  display: flex;
}

.gap {
  gap: 20px;
}

.box {
  flex: 0 0 50%;
  max-width: 50%;
}

section {padding: 40px 0; color: #fff;}

h2 {margin-bottom: 20px;}

/*---HEADER---*/

header {
  height: 60px;
  background-color: #fff;
}

/*---SERVICES---*/

.shop {background-color: rgba(255, 255, 255, 0.05);}

.scroll {
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  white-space: nowrap;
}

.snap {
  scroll-snap-type: x mandatory;
  scroll-padding-inline: 0px;
}

.snap > * {
  scroll-snap-align: start;
}

::-webkit-scrollbar {
  display: none;
}

.item {
  position: relative;
  display: inline-block;
  height: 300px;
  flex: 0 0 calc(50% - 10px);
  max-width: calc(50% - 10px);
  background-color: rgba(255, 255, 255, 0.05);
  display: flex;
}

.item-image {
  height: 100%;
  width: 40%;
  background: #fff url(../img/placeholder.jpg) center / cover no-repeat;
}

.item-info {
  width: 60%; 
  padding: 20px; 
  position: relative;
  z-index: 1;
}


/*---CONTACT SECTION---*/

.cont-box {
  display: grid;
  place-items: center;
  padding: 40px 10px;
  flex: 0 0 50%;
  max-width: 50%;
}

.contact-content {
  background-color: rgba(255, 255, 255, 0.05);
}

.contact h3 {
  color: rgba(255, 255, 255, 0.5);
  margin: 10px 0;
}

.contact p {font-size: 17px;}

li {
  list-style: none;
  font-size: 50px;
  height: 90px;
  aspect-ratio: 1 / 1;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  text-align: center;
}

.cont-icons i {font-size: 30px;}
span, .cont-icons i {cursor: pointer;}

span:hover {color: rgba(255, 255, 255, 0.5)}

/*---MAP---*/

.map {
  position: relative;
  z-index: 1;
}
.map .bottom-button {z-index: 1;}


.bottom-button {
  padding: 5px 20px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: -1;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

 .bottom-button::after{
  content: '';
  width: 70%;
  height: 100%;
  background-color: rgb(188, 188, 190);
  transition: var(--transition);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.map button:hover::after, .bottom-button:hover::after  {width: 100%;}
