@charset "utf-8";

:root {
  --header-height: 60px;
  
  --landing-page-height: 550px;
  --half-landing-height: calc(var(--landing-page-height) / 2);
  --landing-transition: all .7s ease;
  --border-line: 3px solid var(--background-color);

  --background-color: #1c1c1e;
  --transition: all .15s ease-in-out;
  --primary-color: #a3c1ad;
}

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

* {margin: 0;}

body {
  background-color: var(--background-color);
  color: #fff;
}

header, footer {
  height: 60px;
  line-height: 60px;
}

footer {
  background-color: rgba(255, 255, 255, 0.05);
  margin-top: 50px;
}


.gap {
  gap: 20px;
}

.flex {
  display: flex;
}

.s-b {justify-content: space-between;}

.row {
  display: flex;
  flex-wrap: wrap;
}

h2 {
  display: inline-block;
  margin: 50px 0 20px;
}

/*----------------------------*/
/*          HEADER            */
/*----------------------------*/


header {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.fa-bars {margin-right: 10px; display: none;}

header span {font-weight: 300;}

header li {
  font-size: 17px;
  color: #fff;
  font-weight: 100;
}
.head-icons {margin-left: 10px;}

nav, nav ul {display: flex;}
ul * {cursor: pointer;}

.category * {padding: 0 10px;}
.category *:hover {background: rgba(0, 0, 0, 0.2);}
/*---LANDING---*/


.landing-page {
  position: relative;
  height: 500px;
  background: #fff url(../img/landing-page.jpg) center / cover no-repeat;
}

.hero-content {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  backdrop-filter: blur(3px);
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
}

h4 {
  font-size: 30px;
}

.hero-content p {margin-bottom: 20px; font-size: 20px;}

/*----------------------------*/
/*          SERVICES          */
/*----------------------------*/


.image-hovers {
  position: relative; 
  transition: var(--transition);
}

.box {
  position: relative;
  height: var(--landing-page-height); 
  width: 100%; 
  transition: var(--landing-transition);
}

.box::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
}

/*---STYLE-SCROLL---*/

.one {
  background: #fff url(../img/fruit.jpg) center / cover no-repeat;
  position: relative; 
}
.two {
  background: #fff url(../img/flowers.jpg)  center  / cover no-repeat;
  position: absolute;
}
.three {
  background: #fff url(../img/forest.jpg) center / cover no-repeat;
  position: absolute;
}
.four {
  background: #fff url(../img/river.jpg) center / cover no-repeat;
  position: absolute;
}


/*---LAINDING-HOVERS---*/

.hovers {
  position: absolute;
  bottom: 0;
  width: 100%;
  
}

.image {
  height: var(--landing-page-height);
  transition: var(--landing-transition);
  position: relative;
  flex: 0 0 25%;
  max-width: 25%;
}

.first-box, .second-box, .third-box {border-right: var(--border-line);}


/*---BUTTON---*/

.info {
  width: 90%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  position: absolute;
  bottom: 10px;
  left: 5%;
  right: 5%;
  transition: var(--landing-transition);
  text-align: center;
}
.info.visible {opacity: 1;}

.hovers h3 {
  color: transparent;
	text-align: 0 1px 1px;
	-webkit-text-stroke: 1px #fff;
  text-align: 0 1px 1px;
  font-size: 35px;
}

.my-buttons {
  position: relative;
  padding: 5px 20px;
  font-weight: 600;
  z-index: 2;
  font-size: 15px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.my-buttons::after{
  content: '';
  width: 51%;                                 /* fix */
  height: 100%;
  background-color: var(--primary-color);
  transition: var(--transition);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.my-buttons:hover::after  {width: 100%;}
.info.darken {background-color: #000;}



/*----------------------------*/
/*          CONTACT           */
/*----------------------------*/


.two-box {
  flex: 0 0 50%;
  max-width: 50%;
}

.contact-content {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}

.cont-box {
  display: grid;
  place-items: center;
  padding: 20px 10px;
  flex: 0 0 50%;
  max-width: 50%;
}

.contact h3 {
  color: rgba(255, 255, 255, 0.5);
}

.contact p {font-size: 17px;}

.contact li {
  list-style: none;
  font-size: 50px;
  -webkit-text-stroke: 1px #fff;
  color: transparent;
  text-align: center;
}

.cont-icons i {font-size: 30px;}
.contact span{text-decoration: underline; cursor: pointer;}

.contact span:hover {color: rgba(255, 255, 255, 0.5)}

/*---MAP---*/

.map {
  position: relative;
  z-index: 1;
}
.map .bottom-button {z-index: 1;}

.bottom-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: -1;
}

/*------------------------------*/
/*          FOOTER              */
/*------------------------------*/

footer {color: rgba(255, 255, 255, 0.5);}

/*------------------------------*/
/*          RESPONSIVE          */
/*------------------------------*/


@media (max-width: 980px) {
  .image {
    height: var(--half-landing-height);
    flex: 0 0 50%;
    max-width: 50%;
  }
  .second-box {border-right: none;}
  .first-box, .second-box {border-bottom: var(--border-line);}

  .two-box {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .map {height: 300px; margin-top: 20px;}
}

@media (max-width: 770px) {
  .fa-bars {display: inline-block;}
  .category {display: none;}

}

@media (max-width: 550px) {
  h1 {font-size: 20px;}

  .hero-content p {font-size: 15px;}
  .hovers h3 {
    font-size: 25px;
  }
  .info button {font-size: 10px;}

  .cont-box p {font-size: 12px;}
  .cont-icons i {font-size: 20px;}
}
